@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    941 Progress Ave, Scarborough<br />
    ON M1G 3T8<br />
    <abbr title="Phone">Phone:</abbr>
    (416) 289-5000
</address>